.tide-container {
  margin: auto;
  text-align: center;
  margin-left: -14px; /* Move 20px to the left */
}

/* Bold, large font for the tide title */
.tide-title {
  font-size: 1.1rem;
  font-weight: bold;
  color: #f06ffa;
  line-height: .05;
}

/* Normal text for the tide data */
.tide-data {
  font-size: 1rem;
  color: #000000; /* Dark gray */
  line-height: 9px;
  font-style: bold;
}

/* Mobile adjustments */
@media (max-width: 480px) {
  .tide-title {
    font-size: 1rem; /* Smaller size for compact screens */
    margin-top: -10px;
  }

  .tide-data {
    font-size: 0.9rem;
    line-height: .4;
    margin-bottom: 2px;
  }
}