/* General container styling */
.tide-search {
  text-align: center;
  display: block; /* Change from inline-block */
  margin: 0 auto;
  width: 100%;
  
}

/* Input field styling */
.tide-search input {
  padding: 0.5rem;
  border: 1px solid #fac6eec4;
  border-radius: 5px;
  font-size: 1rem;
}

/* Search results container */
.search-results {
  margin-top: 0.5rem;
  max-height: 10rem;
  overflow-y: auto;
  border-radius: 5px;
  background: #ffffffbe;
  margin-left: 15px;
  width: 88%;
  max-width: 230px !important; /* Adjust as needed */
}




/* Individual search result */
.search-result {
  padding: 0.3rem;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

.search-result:hover {
  background: #f7f7f7;
}

/* Button for species name */
.search-result button {
  color: #007bff;
  background: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  padding: 0;
}

.search-result button:hover {
  text-decoration: underline;
  color: #ff70cf;
}


/* No results message */
.no-results {
  padding: 0.5rem;
  color: #666;
  font-size: 0.9rem;
}


/* Mobile-specific styles */
@media (max-width: 480px) {
  .tide-search {
    max-width: 100%;
  }

  .search-results {
    max-height: 15rem;/* Increase height for better scrolling */
  }
}